* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, li {
  text-decoration: none;
  display: inline-block;
}

#heading .logo {
  padding: 7px;
}
#heading .menu {
  text-align: center;
  margin-top: 20px;
}
#heading .menu #navbarNav a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 10px 0 10px;
}
#heading .menu #navbarNav a:hover {
  color: #FF1640;
  border-bottom: 1px solid #FF7777;
}
#heading .menu #navbarNav .login {
  font-size: 22px;
  font-weight: 400;
  border-bottom: none;
  background-color: #FF1640;
  width: 69px;
  height: 37px;
  line-height: 18px;
  border-radius: 10px;
}
#heading .menu #navbarNav .login:hover {
  color: #fff;
  border: 1px solid #fff;
}

#intro {
  margin: 50px 0 30px 0;
}
#intro .imagee img {
  width: 100%;
}
#intro .text {
  text-align: right;
  margin-top: 80px;
}
#intro .text h3 {
  color: #fff;
  font-size: 72px;
  font-weight: 800;
}
#intro .text h6 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}
#intro .text a {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  width: 165px;
  height: 57px;
  background-color: #FF1640;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}
#intro .text a:hover {
  border: 2px solid #fff;
  font-size: 26px;
}

#slider {
  margin: 80px 0 50px 0;
  position: relative;
}
#slider .slide-card {
  margin: 0 10px 0 10px;
  position: relative;
}
#slider .slide-card img {
  width: 100%;
  border-radius: 10px;
}
#slider .slide-card .overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.35ms;
}
#slider .slide-card .overlay h6 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  top: 40%;
  left: 27%;
  position: absolute;
  text-shadow: 2px 25px 4px rgba(0, 0, 0, 0.66);
}
#slider .slide-card.slick-center .overlay {
  opacity: 1;
  visibility: visible;
}
#slider .left {
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #FF1640;
  border-radius: 50%;
  position: absolute;
  top: 81px;
  font-size: 35px;
  border: none;
  z-index: 999;
}
#slider .right {
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #FF1640;
  border-radius: 50%;
  position: absolute;
  top: 81px;
  right: 0px;
  font-size: 35px;
  border: none;
  z-index: 999;
}

#design {
  margin: 80px 0px 30px 0;
}
#design .de-text {
  color: #fff;
}
#design .de-text h1 {
  font-size: 55px;
  font-weight: 600;
  margin: 10px 0px 0px 15px;
}
#design .de-text h6 {
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0px 10px 15px;
}
#design .de-text p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px 10px 15px;
}
#design .de-image {
  margin-top: 30px;
}
#design .de-image img {
  width: 100%;
  min-width: 290px;
}

#design-two {
  margin: 80px 0px 30px 0;
}
#design-two .de-text {
  color: #fff;
}
#design-two .de-text h1 {
  font-size: 55px;
  font-weight: 600;
  margin: 10px 0px 0px 15px;
}
#design-two .de-text h6 {
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0px 10px 15px;
}
#design-two .de-text p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px 10px 15px;
}
#design-two .de-image {
  margin-top: -35px;
}
#design-two .de-image img {
  width: 100%;
  min-width: 290px;
}

#red-button {
  margin: 80px 0 80px 0;
}
#red-button .button {
  text-align: center;
}
#red-button .button button {
  width: 160px;
  height: 84px;
  line-height: 80px;
  background-color: #FF1640;
  border-radius: 42px 42px 42px 42px;
  border: none;
  color: #fff;
  font-size: 25px;
}
#red-button .button button span {
  width: 30px;
  height: 30px;
  line-height: 20px;
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 20px;
  padding: 4px;
}

#footer {
  margin-top: 50px;
}
#footer .f-logo {
  text-align: center;
}
#footer .f-text {
  color: #fff;
  text-align: center;
  margin: 35px 0 20px 0;
  text-align: justify;
}
#footer .f-icon {
  text-align: center;
  margin: 20px 0 30px 0;
}
#footer .f-icon a {
  color: #FF1640;
  margin: 0 10px 0 10px;
}
#footer .f-icon a span {
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */